<footer id="footer" class="footer page-row">
    <div class="container text-center">
        <p class="text-muted text-center">
            <a href="http://met.guc.edu.eg" target="_blank">
                <img src="/images/GUC.png" height="30" alt="German University in Cairo" />
            </a>
        </p>
        <p class="text-center">
            <small style="color:white; padding-left: 10px">Made with &hearts; in Egypt.</small>
            <br>
            <small style="color:white;">&copy; 2017 Omar Doma</small>
        </p>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    window.setTimeout(function () {
        $(".alert").fadeTo(400, 0).slideUp(400, function () {
            $(this).remove();
        });
    }, 6000);
</script>
</body>

</html>