<%- include('partials/header') %>
    <title>Change Password</title>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Change Password</h2>
                <% if(locals.error) { %>
                    <div class="alert alert-danger fade in">
                        <%= error %>
                    </div>
                    <% } %>
                        <% if(locals.success) { %>
                            <div class="alert alert-success fade in">
                                <%= success %>
                            </div>
                            <% } %>
                                <form method="post">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" title="Password must contain at least 8 characters, including a digit and a special character."
                                            type="password" required pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[a-z]).*$"
                                            name="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                if(this.checkValidity()) form.confirm_password.pattern = this.value;" />
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_password">Confirm Password</label>
                                        <input title="Passwords don't match!" class="form-control" type="password" required name="confirm_password" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"
                                        />
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success">Change</button>
                                        <a class="btn btn-link" href="/api/login">Login</a>
                                    </div>
                                </form>
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer') %>