<%- include('partials/header') %>
    <title>GUC-Coders</title>
    <br><br><br><br>
    <h1 class="text-center">Welcome to GUC-Coders!</h1>
    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <a href="/api/browsePortfolios/1" class="btn btn-success btn-block">Browse Portfolios</a>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="header-section text-center">
                    <h2>A Platform</h2>
                    <p>Joining Computer Engineering and Business Informatics students at the German University in Cairo with Employers
                        world wide.</p>
                    <hr class="bottom-line">
                </div>
                <div class="feature-info">
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Egypt's Finest</h4>
                                <p>When Software development comes in mind, there is no doubt that GUC Graduates are well known
                                    to be one of the best in Egypt, if not the best in the business!</p>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Fulfill Your Business Needs</h4>
                                <p>Browse through some of Egypt's brightest minds and find a developer that can fulfill all
                                    of your requirements, a touch of a button away.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Young Age, Big Dreams</h4>
                                <p>Discover young enthusiastic developers with creative ideas, small experience, yet equipped
                                    with knowledge and ready to launch and reach for the stars.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>